{% load static %}

<html>
    <head>
        <title> heading </title>
    </head>
    <body>
        <h1> Employee List </h1>
        {% if employees%}
        <table>
            <thead>
                <th> firstname </th>
                <th> lastname </th>
                <th> salary </th>
                <th> email </th>
            </thead>
            {% for emp in employees %}
            <tr>
                <td> {{emp.firstName}} </td>
                <td> {{emp.lastName}} </td>
                <td> {{emp.salary}} </td>
                <td> {{emp.email}} </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p> No records found </p>
        {% endif %}
    </body>
</html>